<ion-header>
  <ion-toolbar>
    <ion-title>
      Vault
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="stepsContainer" [@changeDivSize]=currentState>
        <main>

            <div class="castleNumbers" *ngIf="showCasltInputSection">
                <h2 class="intorTitle">Enter The Numbers Found in the: <br />Hall, Dungeon and Court</h2>
                <input type="number" [(ngModel)]="hallInput" name="hall" placeholder="Hall #"/>
                <input type="number" [(ngModel)]="dungeonInput" name="dungeon" placeholder="Dungeon #"/>
                <input type="number" [(ngModel)]="courtInput1" name="court1" placeholder="Court1 #"/>
                <input type="number" [(ngModel)]="courtInput2" name="court2" placeholder="Court2 #"/>
                <br />
                <ion-button class="topEnder" (click)="enterOne()" *ngIf="showCasltInputSection">Enter</ion-button>
            </div>

            <div *ngIf="showArrowSection">
                <div class="directionsResults" *ngFor="let direction of directions" >
                    {{direction}}
                </div>
            </div>

            <div class="showMe" *ngIf="showArrowSection">
                <ion-button shape="round" class="deletePreviousDirection" (click)="deletDirections(directioned)">Undo Direction</ion-button>
                <div class="leftArrowSpin arrows" (swipeleft)="swipeLeft()" (click)="swipeLeft()"></div>
                <div class="upArrowSpin arrows" (swipe)="swipeUp()" (click)="swipeUp()"></div>
                <div class="rightArrowSpin arrows" (swiperight)="swipeRight()" (click)="swipeRight()"></div>
                <div class="downArrowSpin arrows" (swipedown)="swipeDown()" (click)="swipeDown()"></div>
                <ion-button color="secondary enterButton" (click)="enterTwo()" >Enter</ion-button>
            </div>

            <div class="longNumber" *ngIf="fiveDigits">
                <input type="number" [(ngModel)]="longNumberVariable" name="longNumber" placeholder="#####"/>
                <ion-button  block (click)="longNumber()" class="enterComboButton">Enter Combo Numbers</ion-button>
            </div>

            <h3 class="aplabetTtotle"><span *ngFor="let word1 of wordyWord">{{word1}}</span></h3>
            <div class="alphabetSection" *ngIf="alphabetSoup">
                <div (click)="lettersCoolA()" id="aaa" [class]="classVariableA"></div>
                <div (click)="lettersCoolB()" id="bbb" [class]="classVariableB"></div>
                <div (click)="lettersCoolC()" id="ccc" [class]="classVariableC"></div>
                <div (click)="lettersCoolD()" id="ddd" [class]="classVariableD"></div>
                <div (click)="lettersCoolE()" id="eee" [class]="classVariableE"></div>
                <div (click)="lettersCoolF()" id="fff" [class]="classVariableF"></div>
                <div (click)="lettersCoolG()" id="ggg" [class]="classVariableG"></div>
                <div (click)="lettersCoolH()" id="hhh" [class]="classVariableH"></div>
                <div (click)="lettersCoolI()" id="iii" [class]="classVariableI"></div>
                <div (click)="lettersCoolJ()" id="jjj" [class]="classVariableJ"></div>
                <div (click)="lettersCoolK()" id="kkk" [class]="classVariableK"></div>
                <div (click)="lettersCoolL()" id="lll" [class]="classVariableL"></div>
                <div (click)="lettersCoolM()" id="mmm" [class]="classVariableM"></div>
                <div (click)="lettersCoolN()" id="nnn" [class]="classVariableN"></div>
                <div (click)="lettersCoolO()" id="ooo" [class]="classVariableO"></div>
                <div (click)="lettersCoolP()" id="ppp" [class]="classVariableP"></div>
                <div (click)="lettersCoolQ()" id="qqq" [class]="classVariableQ"></div>
                <div (click)="lettersCoolR()" id="rrr" [class]="classVariableR"></div>
                <div (click)="lettersCoolS()" id="sss" [class]="classVariableS"></div>
                <div (click)="lettersCoolT()" id="ttt" [class]="classVariableT"></div>
                <div (click)="lettersCoolU()" id="uuu" [class]="classVariableU"></div>
                <div (click)="lettersCoolV()" id="vvv" [class]="classVariableV"></div>
                <div (click)="lettersCoolW()" id="www" [class]="classVariableW"></div>
                <div (click)="lettersCoolX()" id="xxx" [class]="classVariableX"></div>
                <div (click)="lettersCoolY()" id="yyy" [class]="classVariableY"></div>
                <div (click)="lettersCoolZ()" id="zzz" [class]="classVariableZ"></div>
            </div>

            <div *ngIf="failArrowSection">
                <h2>No, wrong answer...</h2>
            </div>
        </main>


    </div>
</ion-content>