.stepsContainer{
    background: url(/assets/dungeon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.textColorSteps {
    color: white;
    padding: 1%;
    background: #00000029;
    list-style: none;
    margin: 4px 0;
}

ul{
    padding:0px;
}

h2 {
    text-align: center;
}
.h1_page_head {
    display: none;
}