<ion-header>
  <ion-toolbar>
    <ion-title>
      In the Dungeon a picture has been broken up...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="stepsContainer">
         <h2 class="textColorStepsTitle">Solve The Puzzle to Get the Number</h2>
         <iframe name='proprofs' id='proprofs' height='625' width='450px' style='overflow-x: hidden;' frameborder=0 marginwidth=0 marginheight=0 src='https://www.proprofs.com/games/puzzle/sliding/find-the-number/?ew=500'></iframe>
    </div>
</ion-content>